html{

}

.vm_header_title{
	color: white;
	position: relative;
	background: cornflowerblue;
}
.vm_form .vm_line{
	border-bottom: 1px dashed;
}
.vm_form input{
	margin-left: 6px;
	width: 95%;
}
.vm_form .vm_form_star{
	color: red;
}
.vm_form label{
	margin-left: 5px;
}
.vm_form .vm_from_img{
	border-bottom: 1px dashed;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

.vm_form .vm_form_resume{
	margin-left: 5px;
	width: 95%;
}

